label {
    display: block;
    margin-top: 10px;
}

.contact-details {
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-card {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 20px;
}

button {
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    display: block;
}

input {
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.feedback {
    text-align: center;
    font-style: italic;
    color: black; /* Initial color */
}

/* Keyframes for the fading effect */
@keyframes fadeOut {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

/* Animation class to be added dynamically */
.fade-animation {
    animation: fadeOut 5s forwards;
}

.back {
    text-align: right;
    display: block;
}