body {
    font-family: Arial, sans-serif;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #000000;
}

label {
    display: block;
    margin-top: 10px;
}

.form-card {
    background-color: #ffffff;
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 20px;
}

.contact-details {
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 20px;
    width: 50%;
    align-self: center;
    display: block;

    background-color: #0a9396;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input {
    padding: 5px;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.feedback {
    text-align: center;
    font-style: italic;
    color: black;
}

@keyframes fadeOut {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}

.fade-animation {
    animation: fadeOut 5s forwards;
}

.back {
    text-align: right;
    display: block;
}

a {
    color: #0a9396;
    text-decoration: none;
}