body {
    font-family: Arial, sans-serif;
    background-color: #212529;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.my-info, .upload-image {
    width: 45%;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background-color: #f8f9fa;
}

.my-info {
    border-radius: 10px 10px 0px 0px;
}

.upload-image {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
}

.my-info h2, .upload-image h2 {
    margin-top: 0;
}

.contact-details {
    padding-left: 20px;
}

.user-image {
    display: block;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    position: absolute;
    top: 40%;
    right: 10px;
}

a {
    color: #0a9396;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logout-link {
    text-align: right;
}

button {
    background-color: #0a9396;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.upload-image-button {
    margin: 10px 0;
    display: block;
}